.container {
  padding: 4rem 24rem !important;
}

.card {
  min-width: 300px;
}

.form {
  min-width: 350px;
}

@media (max-width: 1600px) {
  .container {
    padding: 4rem 2rem !important;
  }

  .card {
    min-width: 200px;
  }

  .form {
    min-width: 200px;
  }
}